.annotation-text text {
  background: #f1f1f1;
  font-family: sans-serif;
  font-size: 12px;
  position: relative;
}

circle {stroke: black;}

.chart-legend-container .chart-and-legend-block {
	float:left;
	/* border:1px solid silver; */
	margin:0px;
	/* min-height:100px; */
	padding:0px;
}

.slider-block {
	float:left;
	/* border:1px solid silver; */
	margin:0px;
	/* min-height:50px;*/
	padding-top:10px;
	padding-bottom:10px;
	padding-right:20px;
}

.slider-label {
	font-size: 1.5rem;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 300;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-weight: 300;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.75;
}

html, body { margin: 0; padding: 0; }
.main-container { margin-right: auto; margin-left: auto; width: 1400px; }

.chart-legend {
	text-anchor: left;
	font-weight: 700;
	alignment-baseline: auto;
}

.chart-axis {
	font-weight: 700;
}

/* Following are taken from https://bl.ocks.org/Qizly/8f6ba236b79d9bb03a80 */ 
.overlay {
	fill: none;
	pointer-events: all;
}

.focus circle {
	fill: steelblue;
}

.focus text {
	font-size: 10px;
}

.tooltip {
	fill: white;
	stroke: #000;
}

.dashed{
   stroke-dasharray: 5,5; 
}

.button {
	color: black;
	text-align: center;
	margin: 5px;
 }
 
 /*---------------- From W3Schools.com --------------*/
 
 * {
  box-sizing: border-box;
}

/* body {
  font-family: Arial, Helvetica, sans-serif;
}*/

/* Style the header */
header {
  padding: 5px 5px 5px 20px;
  text-align: left;
/*background-color: #666;
  font-size: 35px;
  color: white; */
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 20%;
  /* height: 300px; 
  background: #ccc; */
  padding: 5px 5px 5px 20px;
}

article {
  float: left;
  padding: 10px 0px 5px 0px; /* Top, right, bottom, left */
  width: 80%;
  /* background-color: #f1f1f1; */
  /* height: 300px; only for demonstration, should be removed */
}

.viz {
	background-color: #f1f1f1;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}