.annotation-text text {
  background: #f1f1f1;
  font-family: sans-serif;
  font-size: 12px;
  position: relative;
}

circle {stroke: black;}

.chart-legend-container .chart-and-legend {
	float:left;
	/* border:1px solid silver; */
	margin:0px;
	min-height:100px;
	padding:0px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-weight: 300;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}